<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" verbose="1">
    <listeners>
        <listener class-name="Base.TestListener" />
    </listeners>
    <parameter name="browserType" value="edge" />
    <parameter name="appURL" value="https://www.hateemtai.com/" />

    <test name="Country Switch Tests">
        <classes>
            <class name="Tests.CountrySwitchTest" />
        </classes>
    </test>
</suite>